.paginationContainer img{
  width: 10px;
}

.paginationContainer{
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  height: 20px;
}

.paginationContainer li{
  display: inline-block;
  border-radius: 5px;
  margin: 0 1%;
  cursor: pointer;
}

.paginationBtn ,.paginationBtnPrev ,.paginationBtnNext{
  background-color: var(--color-2);
  border: 1px solid #ccc;
  color: var(--color-1);
  padding: 0.5rem 0.5rem;
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.paginationBtn:hover ,.paginationBtnPrev:hover ,.paginationBtnNext:hover {
  background-color: var(--color-5);
}

.paginationBtnActive{
  background-color: var(--color-3);
  border: 1px solid #ccc;
  color: var(--color-1);
  padding: 0.5rem 0.5rem;
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}