.paginationContainer img{
  width: 10px;
}

.paginationContainer{
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  height: 20px;
}

.paginationContainer li{
  display: inline-block;
  border-radius: 5px;
  margin: 0 1%;
  cursor: pointer;
}

.paginationContainer button{
  border-radius: 5px;
  margin: 0 1%;
  cursor: pointer;
  border: none;
}